<div class="double-section row">
  <div class="col-6">
    {% if section.settings.image-1 != blank %}
            <div class="double-section-image"><img src="{{ section.settings.image-1 | img_url :"master" }}"></div>
          {% endif %}
          <div class="content-wrapper">
            {%- if section.settings.title-first -%} 
                    <div class="content-title">{{ section.settings.title-first }}</div> 
                {%- endif -%} 
          {% if section.settings.link-first != blank %}
                  <a href="{{section.settings.link-first}}">{{section.settings.text-link-first}}</a>
                  {% endif %}
          </div>
  </div>
  <div class="col-6">
    {% if section.settings.image-2 != blank %}
            <div class="double-section-image"><img src="{{ section.settings.image-2 | img_url :"master" }}"></div>
          {% endif %}
          <div class="content-wrapper">
            {%- if section.settings.title-second -%} 
                    <div class="content-title">{{ section.settings.title-second }}</div> 
                {%- endif -%} 
          {% if section.settings.link-second != blank %}
                  <a href="{{section.settings.link-second}}">{{section.settings.text-link-second}}</a>
                  {% endif %}
          </div>
  </div>
</div>

{% schema %}
  {
    "name": "Double section",
    "settings": [
      {
          "type": "html",
          "id": "title-first",
          "label": "Title first"
        },
      {
          "type": "image_picker",
          "id": "image-1",
          "label": "Image first"
        },
  {
          "type": "text",
          "id": "text-link-first",
          "label": "Text first link"
        },
  {
          "type": "url",
          "id": "link-first",
          "label": "First link"
        },
      {
          "type": "html",
          "id": "title-second",
          "label": "Title second"
        },
      {
          "type": "image_picker",
          "id": "image-2",
          "label": "Image second"
        },
  {
          "type": "text",
          "id": "text-link-second",
          "label": "Text second link"
        },
  {
          "type": "url",
          "id": "link-second",
          "label": "Second link"
        }
    ],
     "presets": [
       {
         "name": "Double section" 
       }
      ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}