<div class="car-slider">
  {% if section.blocks.size > 0 %}
    <div class="slider-wrapper container">
	  {% for block in section.blocks %}
        <div class="car-slider__item"> 
          <div class="item-info">
        {%- if block.settings.price-car-title -%} 
                    <div class="car-slider__title">{{ block.settings.price-car-title }}</div> 
                {%- endif -%}  
          <div class="car-slider__info">
             {%- if block.settings.price-car -%} 
                    <div class="car-slider__price-car">{{ block.settings.price-car }}</div> 
                {%- endif -%} 
             {%- if block.settings.pover-car -%} 
                    <div class="car-slider__pover-car">{{ block.settings.pover-car }}</div> 
                {%- endif -%} 
             {%- if block.settings.engine-car -%} 
                    <div class="car-slider__engine-car">{{ block.settings.engine-car }}</div> 
                {%- endif -%} 
          </div>
          <div class="car-slider__btn">
                  {% if block.settings.link-slide != blank %}
                  <a href="{{block.settings.link-slide}}">{{block.settings.text-link-slide}}</a>
                  {% endif %}
                </div>
        </div>
          <div class="item-images__wrapper">
            {%- if block.settings.year-car -%} 
                    <div class="car-slider__year-car">{{ block.settings.year-car }}</div> 
                {%- endif -%} 
            <div class="item-images">
            {% if block.settings.image != blank %}
            <div class="image image_normal"><img src="{{ block.settings.image | img_url :"master" }}"></div>
          {% endif %}
        {% if block.settings.hover-image != blank %}
            <div class="image image_hover"><img src="{{ block.settings.hover-image | img_url :"master" }}"></div>
          {% endif %}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  {% endif %}
</div>





<script>
  $('.slider-wrapper').slick();
</script>

<style>
  .container{
    max-width: 1330px;
    margin: 0 auto;
    padding: 0 15px;
  }
  .item-images{
    position: relative;
    height: 300px;
  }
  .item-images .image{
    position: absolute;
  }
  .item-images .image , .item-images .image img{
    height: 100%;
  }
  .car-slider .image_hover img{
    visibility: hidden;
    opacity: 0;
    transition: all .5s ease-in-out;
  }
 .car-slider .item-images:hover .image_normal img{
   visibility: hidden;
   opacity: 0;
   transition: all .5s ease-in-out;
 }
  .car-slider .item-images:hover .image_hover img{
   visibility: visible;
   opacity: 1;
   transition: all .5s ease-in-out;
 }
.car-slider .car-slider__year-car{
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 11px white;
  font-style: italic;
  font-weight: 450;
  font-size: 230px;
  line-height: 91%;
  display: flex;
  align-items: center;
  opacity: .3;
  text-transform: uppercase;
}
</style>




{% schema %}
  {
    "name": "Slide car",
    "settings": [
      
    ],
    "blocks": [
     {
       "name": "Slide",
       "type": "slide",
       "settings": [
         {
          "type": "html",
          "id": "price-car-title",
          "label": "Title"
        },
        {
          "type": "html",
          "id": "price-car",
          "label": "Price"
        },
         {
          "type": "html",
          "id": "pover-car",
          "label": "Pover"
        },
         {
          "type": "html",
          "id": "engine-car",
          "label": "Engine"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "image_picker",
          "id": "hover-image",
          "label": "Hover image"
        },
  {
          "type": "text",
          "id": "text-link-slide",
          "label": "Text btn"
        },
  {
          "type": "url",
          "id": "link-slide",
          "label": "Link"
        },
         {
          "type": "html",
          "id": "year-car",
          "label": "Year"
        }
      ]
     }
   ],
     "presets": [
       {
         "name": "Slide car" 
       }
      ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}